---
http_interactions:
- request:
    method: get
    uri: https://api.imagga.com/v1/tagging?url=http://static.ddmcdn.com/gif/landscape-photography-1.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results": [{"image": "http://static.ddmcdn.com/gif/landscape-photography-1.jpg",
        "tags": [{"confidence": 47.16994169669641, "tag": "grassland"}, {"confidence":
        45.87292709198188, "tag": "field"}, {"confidence": 45.019462539740665, "tag":
        "grass"}, {"confidence": 41.53961668314429, "tag": "meadow"}, {"confidence":
        37.681753983890346, "tag": "landscape"}, {"confidence": 34.47865251401469,
        "tag": "summer"}, {"confidence": 33.13395846563346, "tag": "sky"}, {"confidence":
        29.98744017425953, "tag": "rural"}, {"confidence": 28.823619529162976, "tag":
        "countryside"}, {"confidence": 2[...]
