---
http_interactions:
- request:
    method: get
    uri: https://api.imagga.com/v1/tagging?url=http://static.ddmcdn.com/gif/landscape-photography-1.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWNjX2QzNTU2ZmJmMGY4NjdiNTpiNTFmOTgxYzM4ZTVlZTE0ZTVhYjM0ZmEzNjQwNGY3Mg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Monthly-Limit:
      - '2000'
      Monthly-Limit-Remaining:
      - '1995'
      Monthly-Limit-Reset:
      - '1484507658'
    body:
      encoding: UTF-8
      string: '{"results": [{"tagging_id": null, "image": "http://static.ddmcdn.com/gif/landscape-photography-1.jpg",
        "tags": [{"confidence": 61.64253543201611, "tag": "field"}, {"confidence":
        61.21937664290404, "tag": "grass"}, {"confidence": 57.493161203958365, "tag":
        "grassland"}, {"confidence": 57.200538933090705, "tag": "landscape"}, {"confidence":
        55.14596006354544, "tag": "farming"}, {"confidence": 53.12386042436984, "tag":
        "meadow"}, {"confidence": 52.77582358749907, "tag": "rural"}, {"confidence":
        49.60660844320513, "tag": "sky"}, {"confidence": 49.21200617607885, "tag":
        "country"}, {"confidence": 48.68[...]
