---
http_interactions:
- request:
    method: get
    uri: https://api.imagga.com/v1/tagging?url=http://static.ddmcdn.com/NOT_REAL.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWNjX2QzNTU2ZmJmMGY4NjdiNTpiNTFmOTgxYzM4ZTVlZTE0ZTVhYjM0ZmEzNjQwNGY3Mg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Monthly-Limit:
      - '2000'
      Monthly-Limit-Remaining:
      - '1994'
      Monthly-Limit-Reset:
      - '1484507658'
    body:
      encoding: UTF-8
      string: '{"results": [], "unsuccessful": [{"image": "http://static.ddmcdn.com/NOT_REAL.jpg",
        "message": "Could not download URL. Request status code 404"}]}'
  recorded_at: Thu, 15 Dec 2016 19:36:38 GMT
recorded_with: VCR 3.0.3
